<!DOCTYPE>
<html lang="en">
<head>
    <script src="{{ url_for('static', filename='jquery/jquery.min.js')}}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.js')}}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css')}}">
    <title>Hunts Catalog</title>
</head>
<body>
    <div class="container">
            <div class="col-sm-4 col-md-4"></div>
            <div class="col-sm-4 col-md-4">
                <div class="row">
                    </br>
                </div>
                {% block content %}
                {% endblock %}
            </div>
            <div class="col-sm-4 col-md-4"></div>
    </div> 
</body>
</html>