<html>
    <head>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <h1></h1>
       {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li><strong>{{message}}</strong></li>
                {% endfor%}
            </ul>
            {% endif %}
            {% endwith %}
        <form action="{{ url_for('editMenuItem', restaurant_id=editItem.restaurant_id, menu_id=editItem.id)}}" method="post">
            Name: <input type='text'  name='name' value={{editItem.name}}><br>
            Course: <input type='text'  name='course' value={{editItem.course}}><br>
            Price: <input type='text'  name='price' value={{editItem.price}}></br>
            Description: <input type='text'  name='description' value={{editItem.description}}></br>
            <input type='submit' value='Update'>
        </form>
    </body>
    <a href="{{ url_for('restaurantMenu', restaurant_id=editItem.restaurant_id)}}">Cancel</a>
</html>