{% extends "index.html" %} {% block head%}
<div class="span4 text-center">
    <p class="lead">
        <h3>New Restaurant</h3>
    </p>
</div>
{% endblock %} {% block content %}
<form method="POST">
    <div class="form-group">
        <label for="name">Restaurant Name</label>
        <input type="text" name="name" class="form-control">
        <button type="submit" class="btn btn-default form-control">Create</button>
        <a href="{{url_for('showRestaurants')}}" class="btn btn-default form-control" role="button">Cancel</a>
    </div>
</form>
{% endblock %}