{% extends "index.html" %} {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages%}
<div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>System Message!</strong> {{message}}
</div>
{% endfor %} {% endif %} {% endwith%} {% block head %}
<div class="span4 text-center">
    <p class="lead">
        <h3>Menu {{restaurant.name}}</h3>
        <a href="{{url_for('showRestaurants')}}" class="btn btn-primary" role="button">Restaurants</a>
    </p>
</div>
{% endblock %} {% block content %} {% if items %} {% for item in items%}
<div class="panel panel-default">
    <div class="panel-heading">
        {{item.name}}
    </div>
    <div class="panel-body">
        <ul class="list-group">
            <li class="list-group-item">Course: {{item.course}}</li>
            <li class="list-group-item">Description: {{item.description}}</li>
            <li class="list-group-item">Price: {{item.price}}</li>
        </ul>
    </div>
</div>
{% endfor %} {% else %}
    <h2 class="text-center"><span class="badge badge-default">No Menu Items</span></h2>
{% endif %} {% endblock %}