{% extends "default.html" %} {% block content %}
<div class="panel panel-default">
    <div class="panel-heading">{{(item.name).upper()}}</div>
    <div class="panel-body">
        <p>
            {{item.description}}
        </p>
        <p>
            {% if item.image_path %}
            <img src="/{{ item.image_path }}" class="img-responsive img-rounded" alt="Responsive image"> 
            {% else %}
            <blockquote cite="">
                Add an image to your Item
            </blockquote>
        </p>
    </div>
    {% endif %}
    <div class="panel-footer">
        <a href="{{url_for('showItems', category_id=item.category_id)}}" class="btn btn-default" role="button">Items</a>
    </div>
</div>
{% endblock %}